<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
       default-lazy-init="true">

    <!-- Add new DAOs here -->
	<bean id="personManager" class="com.webdrbstruts.app.service.impl.GenericManagerImpl">
    	<constructor-arg>
        	<bean class="com.webdrbstruts.app.dao.hibernate.GenericDaoHibernate" autowire="byType">
            	<constructor-arg value="com.webdrbstruts.app.model.Person"/>
        	</bean>
    	</constructor-arg>
	</bean>

	<bean id="tiposangreManager" class="com.webdrbstruts.app.service.impl.GenericManagerImpl">
    	<constructor-arg>
        	<bean class="org.appfuse.dao.hibernate.GenericDaoHibernate" autowire="byType">
            	<constructor-arg value="com.webdrbstruts.app.model.TipoSangre"/>
        	</bean>
    	</constructor-arg>
	</bean>

    <!-- Add new Managers here -->

    <!-- Add new Actions here -->
</beans>