<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
         http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <!-- Add new DAOs here -->

    <!-- Add new Managers here -->
    <bean id="especialidadManager" class="edu.fpuna.service.impl.EspecialidadManagerImpl">
        <constructor-arg ref="especialidadDao"/>
    </bean>
    
    <bean id="pacienteManager" class="edu.fpuna.service.impl.PacienteManagerImpl">
        <constructor-arg ref="pacienteDao"/>
    </bean>

    <bean id="consultaManager" class="edu.fpuna.service.impl.ConsultaManagerImpl">
        <constructor-arg ref="consultaDao"/>
    </bean>

    
    <bean id="tipoSangreManager" class="edu.fpuna.service.impl.GenericManagerImpl">
        <constructor-arg>
            <bean class="edu.fpuna.dao.hibernate.GenericDaoHibernate" autowire="byType">
                <constructor-arg value="edu.fpuna.model.TipoSangre"/>
            </bean>
        </constructor-arg>
    </bean>
    
    <!-- Add new Actions here -->
</beans>